.error {
    background-color: darkorange;
    padding: 5px;
}

.dismiss {
    float: right;
}

.sync {
    float: right;
}

.infos button,
.filtering button,
.batch-actions button {
    margin: 0 5px;
}

.sorting button {
    /*margin: 0 5px;*/
}


.lists {
    width: 100%;
    display: grid;
    /*flex-direction: row;*/
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.videos {
    border: 1px solid #aaa;
    padding: 5px;
}

.videos > div {
    margin: 5px 0;
}

/*.videos select {*/
    /*margin-left: 10px;*/
/*}*/

/*.videos button {*/
    /*margin-left: 10px;*/
/*}*/

/*
.videos .filter,
.videos .playlist-selector {
    margin-bottom: 10px;
}
*/

.playlist-selector select {
    /*font-size: 1.25em;*/
    font-size: 1em;
    font-weight: bold;
}


.batch-actions {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    /*margin: 5px 0;*/
    padding: 5px 5px 6px 5px;
}

.row:hover {
    background-color: #fffb72;
}


.row-0 {
    /*background-color: #E5E5FB;*/
}

.row-1 {
    background-color: #ffffff;
}

.video-title {
    flex-grow: 2;
    margin-left: 1em;
    margin-right: 1em;
}
