.error {
    background-color: darkorange;
    padding: 5px;
}

.progress {
    background-color: #d3ac52;
    padding: 5px;
}

.dismiss {
    float: right;
}

.sync {
    float: right;
}

.infos button,
.filtering button,
.batch-actions button {
    margin: 0 5px;
}

.lists {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.videos-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.videos {
    border: 1px solid #aaa;
    padding: 5px;
}

.videos > div {
    margin: 5px 0;
}

.playlist-selector select {
    font-size: 1em;
    font-weight: bold;
}

.batch-actions {
    display: flex;
    flex-direction: row;
}

.video-title {
    flex-grow: 2;
}
