a {
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

/*.App {*/
    /*text-align: center;*/
/*}*/

.App {
    /*background-color: var(--page-background);*/
    /*color: var(--text-normal);*/
    margin: 0;
    padding: 0;
    /*padding-bottom: 8px;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
            40px                /* header */
            auto;
    width: 100vw;
    height: 100vh;
}

.header {
    /*margin: 0 0 10px 0;*/
    padding: 10px;
    background-color: #e7e7e7;
    border-bottom: 1px solid #aaa;
}

.header-info,
.header button {
    float: right;
}

.header-info,
.header button {
    margin-right: 20px;
}

.header-link {
    margin-left: 2em;
}

.authorization, .default-content {
    padding-left: 10px;
}

/*.content {*/
    /*padding: 0 10px;*/
/*}*/
.buttons {
    display: flex;
    white-space: nowrap;
}

.action-button {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 0 2px 1px 2px;
    text-decoration: none;
    color: #555;
    /*margin-left: 10px;*/
}

.remove-button {
    /*margin-left: 0;*/
}

.space-left {
    margin-left: 10px;
}

.space-right {
    margin-right: 10px;
}

.space-around {
    margin-left: 10px;
    margin-right: 10px;
}

.action-button.disabled {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    color: #aaa;
}

.action-button:hover {
    background-color: #ccccff;
    border: 1px solid #ccccff;
    text-decoration: none;
    color: blue;
}

.text-button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    padding: 0;
    text-decoration: none;
    /*color: #555;*/
    /*margin-left: 10px;*/
    font-size: 1rem;
    color: blue;
}

.text-button.active {
    font-weight: bold;
}

.text-button:focus {
    outline: none;
}

/*.playlists-videos {*/
    /*width: 100%;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-column-gap: 10px;*/
/*}*/

.two-columns-headers {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px calc(100vh - 40px - 1px - 80px - 1px); /* minus header rows minus borders */
}

.big-height {
    grid-template-rows: 140px calc(100vh - 40px - 1px - 140px - 1px); /* minus header rows minus borders */
}

.short-height {
    grid-template-rows: 40px calc(100vh - 40px - 1px - 40px - 1px); /* minus header rows minus borders */
}

.column-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d7d7d7;
    padding: 5px;
    /*background-color: #ccccff;*/
    /*height: calc(100vh - 40px); !* minus header row *!*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-content {
    overflow-y: scroll;
    padding: 5px;
}

.row:hover {
    background-color: #fffb72;
}

.clickable {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 2px 0 3px 0;
}

.row:hover {
    background-color: #fffb72;
}

.row-0 {
}

.row-1 {
    background-color: #ffffff;
}

.row.selected {
    background-color: #8daf84;
}

.row-main {
    flex-grow: 2;
}

.row-option {
    display: none;
    margin-left: 20px;
}

.row:hover > .row-option {
    display: block;
}

.row-main {
    flex-grow: 2;
}

.marked {
    background-color: #fffb72;
}
