.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

.header-info,
.header button {
    float: right;
}

.header-info,
.header button {
    /*margin-right: 2em;*/
}

.header-link {
    margin-left: 2em;
}

.content {
    padding: 0 10px;
}
